<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
</head>

<title>Graduate Thesis Project</title>

<body>
    <div class="display-6 my-3 font-weight-bold text-center" style="font-family: 'Arial', sans-serif;">Search for Thesis
    </div>
    <hr class="my-4" style="border: 2px solid grey; border-radius: 5px;">
    <div class="container-fluid my-4">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
</body>

</html>
